examples/iob-log.json
[
    {
        "id": "log-examples-tab",
        "type": "tab",
        "label": "ioBroker Log Examples",
        "disabled": false,
        "info": "Examples demonstrating ioBroker live log monitoring with different log levels and filtering patterns."
    },
    {
        "id": "config.log",
        "type": "iob-config",
        "name": "ioBroker Logs",
        "iobhost": "localhost",
        "iobport": 8081,
        "user": "",
        "password": "",
        "usessl": false
    },
    {
        "id": "log.error.monitor",
        "type": "ioblog",
        "z": "log-examples-tab",
        "name": "Error Monitor",
        "logLevel": "error",
        "outputProperty": "payload",
        "includeTimestamp": true,
        "includeSource": true,
        "debugFiltering": false,
        "server": "config.log",
        "x": 120,
        "y": 100,
        "wires": [["error.alert"]]
    },
    {
        "id": "error.alert",
        "type": "function",
        "z": "log-examples-tab",
        "name": "Create Alert",
        "func": "msg.alert = {\n    severity: 'critical',\n    message: msg.payload,\n    source: msg.source,\n    timestamp: msg.timestamp\n};\nreturn msg;",
        "outputs": 1,
        "x": 290,
        "y": 100,
        "wires": [["error.debug"]]
    },
    {
        "id": "error.debug",
        "type": "debug",
        "z": "log-examples-tab",
        "name": "Error Alerts",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "alert",
        "targetType": "msg",
        "x": 460,
        "y": 100,
        "wires": []
    },
    {
        "id": "log.info.monitor",
        "type": "ioblog",
        "z": "log-examples-tab",
        "name": "Info Monitor",
        "logLevel": "info",
        "outputProperty": "payload",
        "includeTimestamp": true,
        "includeSource": true,
        "debugFiltering": false,
        "server": "config.log",
        "x": 120,
        "y": 180,
        "wires": [["info.debug"]]
    },
    {
        "id": "info.debug",
        "type": "debug",
        "z": "log-examples-tab",
        "name": "Info Logs",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 290,
        "y": 180,
        "wires": []
    },
    {
        "id": "log.adapter.monitor",
        "type": "ioblog",
        "z": "log-examples-tab",
        "name": "Adapter Filter",
        "logLevel": "warn",
        "outputProperty": "payload",
        "includeTimestamp": true,
        "includeSource": true,
        "debugFiltering": false,
        "server": "config.log",
        "x": 120,
        "y": 260,
        "wires": [["adapter.filter"]]
    },
    {
        "id": "adapter.filter",
        "type": "switch",
        "z": "log-examples-tab",
        "name": "Filter Admin Logs",
        "property": "source",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "admin",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 300,
        "y": 260,
        "wires": [["adapter.debug"]]
    },
    {
        "id": "adapter.debug",
        "type": "debug",
        "z": "log-examples-tab",
        "name": "Admin Warnings",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 490,
        "y": 260,
        "wires": []
    },
    {
        "id": "log.debug.monitor",
        "type": "ioblog",
        "z": "log-examples-tab",
        "name": "Debug Monitor",
        "logLevel": "debug",
        "outputProperty": "payload",
        "includeTimestamp": true,
        "includeSource": true,
        "debugFiltering": true,
        "server": "config.log",
        "x": 120,
        "y": 340,
        "wires": [["debug.debug"]]
    },
    {
        "id": "debug.debug",
        "type": "debug",
        "z": "log-examples-tab",
        "name": "Debug Logs",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 290,
        "y": 340,
        "wires": []
    },
    {
        "id": "comment.log.title",
        "type": "comment",
        "z": "log-examples-tab",
        "name": "ioBroker Live Log Examples",
        "info": "Live log monitoring examples:\n\n1. **Error Monitor** - Critical errors with alerts\n2. **Info Monitor** - General system activity  \n3. **Adapter Filter** - Admin adapter warnings only\n4. **Debug Monitor** - Debug level with filter debugging\n\n**Log Levels:** silly < debug < info < warn < error\n**Filtering:** Client-side level filtering\n**Performance:** Lower levels = higher volume",
        "x": 180,
        "y": 40,
        "wires": []
    }
]