examples/iob-history.json
[
    {
        "id": "history-examples-tab",
        "type": "tab",
        "label": "ioBroker History Examples",
        "disabled": false,
        "info": "Examples demonstrating ioBroker historical data retrieval with different aggregation methods, time ranges, and output formats."
    },
    {
        "id": "config.history",
        "type": "iob-config",
        "name": "ioBroker History",
        "iobhost": "iobroker.local",
        "iobport": 8081,
        "user": "",
        "password": "",
        "usessl": false
    },
    {
        "id": "inject.temperature.24h",
        "type": "inject",
        "z": "history-examples-tab",
        "name": "Temperature Last 24h",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "hm-rpc.0.000A18A9992B66.1.TEMPERATURE",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 100,
        "wires": [["history.temperature.raw"]]
    },
    {
        "id": "history.temperature.raw",
        "type": "iobhistory",
        "z": "history-examples-tab",
        "name": "Raw Temperature Data",
        "stateId": "",
        "historyAdapter": "influxdb.0",
        "timeRange": "duration",
        "duration": 24,
        "durationUnit": "hours",
        "startTime": "",
        "endTime": "",
        "aggregate": "none",
        "step": 300,
        "stepUnit": "seconds",
        "maxEntries": 2000,
        "outputProperty": "payload",
        "outputFormat": "array",
        "percentile": 50,
        "quantile": 0.5,
        "integralUnit": 3600,
        "server": "config.history",
        "x": 380,
        "y": 100,
        "wires": [["debug.raw"]]
    },
    {
        "id": "debug.raw",
        "type": "debug",
        "z": "history-examples-tab",
        "name": "Raw Data",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 100,
        "wires": []
    },
    {
        "id": "inject.energy.hourly",
        "type": "inject",
        "z": "history-examples-tab",
        "name": "Energy Hourly Average",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "mqtt.0.energy.power",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 180,
        "wires": [["history.energy.avg"]]
    },
    {
        "id": "history.energy.avg",
        "type": "iobhistory",
        "z": "history-examples-tab",
        "name": "Hourly Energy Average",
        "stateId": "",
        "historyAdapter": "sql.0",
        "timeRange": "duration",
        "duration": 7,
        "durationUnit": "days",
        "startTime": "",
        "endTime": "",
        "aggregate": "average",
        "step": 3600,
        "stepUnit": "seconds",
        "maxEntries": 1000,
        "outputProperty": "payload",
        "outputFormat": "chart",
        "percentile": 50,
        "quantile": 0.5,
        "integralUnit": 3600,
        "server": "config.history",
        "x": 380,
        "y": 180,
        "wires": [["debug.chart"]]
    },
    {
        "id": "debug.chart",
        "type": "debug",
        "z": "history-examples-tab",
        "name": "Chart.js Format",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 180,
        "wires": []
    },
    {
        "id": "inject.custom.time",
        "type": "inject",
        "z": "history-examples-tab",
        "name": "Custom Time Range",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "start",
                "vt": "str"
            },
            {
                "p": "end",
                "vt": "str"
            },
            {
                "p": "aggregate",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "0_userdata.0.temperature",
        "start": "2024-01-01T00:00:00.000Z",
        "end": "2024-01-02T00:00:00.000Z",
        "aggregate": "minmax",
        "x": 140,
        "y": 260,
        "wires": [["history.custom"]]
    },
    {
        "id": "history.custom",
        "type": "iobhistory",
        "z": "history-examples-tab",
        "name": "Custom Query",
        "stateId": "",
        "historyAdapter": "history.0",
        "timeRange": "message",
        "duration": 24,
        "durationUnit": "hours",
        "startTime": "",
        "endTime": "",
        "aggregate": "onchange",
        "step": 300,
        "stepUnit": "seconds",
        "maxEntries": 5000,
        "outputProperty": "payload",
        "outputFormat": "statistics",
        "percentile": 50,
        "quantile": 0.5,
        "integralUnit": 3600,
        "server": "config.history",
        "x": 380,
        "y": 260,
        "wires": [["debug.stats"]]
    },
    {
        "id": "debug.stats",
        "type": "debug",
        "z": "history-examples-tab",
        "name": "Statistics",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 260,
        "wires": []
    },
    {
        "id": "inject.percentile",
        "type": "inject",
        "z": "history-examples-tab",
        "name": "95th Percentile",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "percentile",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "system.adapter.admin.0.memRss",
        "percentile": 95,
        "x": 140,
        "y": 340,
        "wires": [["history.percentile"]]
    },
    {
        "id": "history.percentile",
        "type": "iobhistory",
        "z": "history-examples-tab",
        "name": "Memory Percentile",
        "stateId": "",
        "historyAdapter": "influxdb.0",
        "timeRange": "duration",
        "duration": 1,
        "durationUnit": "days",
        "startTime": "",
        "endTime": "",
        "aggregate": "percentile",
        "step": 900,
        "stepUnit": "seconds",
        "maxEntries": 500,
        "outputProperty": "payload",
        "outputFormat": "array",
        "percentile": 95,
        "quantile": 0.5,
        "integralUnit": 3600,
        "server": "config.history",
        "x": 380,
        "y": 340,
        "wires": [["debug.percentile"]]
    },
    {
        "id": "debug.percentile",
        "type": "debug",
        "z": "history-examples-tab",
        "name": "Percentile Data",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 340,
        "wires": []
    },
    {
        "id": "inject.energy.total",
        "type": "inject",
        "z": "history-examples-tab",
        "name": "Daily Energy Total",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "mqtt.0.energy.consumed",
        "x": 140,
        "y": 420,
        "wires": [["history.total"]]
    },
    {
        "id": "history.total",
        "type": "iobhistory",
        "z": "history-examples-tab",
        "name": "Energy Daily Total",
        "stateId": "",
        "historyAdapter": "influxdb.0",
        "timeRange": "duration",
        "duration": 30,
        "durationUnit": "days",
        "startTime": "",
        "endTime": "",
        "aggregate": "total",
        "step": 86400,
        "stepUnit": "seconds",
        "maxEntries": 30,
        "outputProperty": "payload",
        "outputFormat": "chart",
        "percentile": 50,
        "quantile": 0.5,
        "integralUnit": 3600,
        "server": "config.history",
        "x": 380,
        "y": 420,
        "wires": [["debug.total"]]
    },
    {
        "id": "debug.total",
        "type": "debug",
        "z": "history-examples-tab",
        "name": "Total Energy",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 420,
        "wires": []
    },
    {
        "id": "comment.history.title",
        "type": "comment",
        "z": "history-examples-tab",
        "name": "ioBroker History Data Examples",
        "info": "This flow demonstrates various patterns for retrieving historical data from ioBroker:\n\n**Examples:**\n1. **Raw Temperature Data** - Last 24 hours of raw data points\n2. **Hourly Energy Average** - 7-day average with Chart.js output\n3. **Custom Time Range** - Message-based time range with statistics\n4. **95th Percentile** - Memory usage percentile analysis\n5. **Daily Energy Total** - Monthly energy consumption totals\n\n**Aggregation Methods:**\n- **none/onchange** - Raw data points\n- **average** - Mean values over intervals\n- **min/max** - Extreme values per interval\n- **total** - Sum for energy calculations\n- **percentile** - Statistical distribution analysis\n- **minmax** - All available data (adapter-specific)\n\n**Output Formats:**\n- **Array** - Raw data points with timestamps\n- **Chart.js** - Ready for Chart.js visualization\n- **Statistics** - Summary with min/max/average/count\n\n**Time Range Options:**\n- **Duration** - Relative time (last X hours/days)\n- **Absolute** - Fixed start/end timestamps\n- **Message** - Dynamic via msg.start/msg.end\n\n**Performance Tips:**\n- Use appropriate aggregation for large datasets\n- Limit maxEntries for better performance\n- InfluxDB recommended for time-series data\n- SQL adapter for medium-scale installations",
        "x": 200,
        "y": 40,
        "wires": []
    }
]